<!DOCTYPE html>
        {% extends 'scoop/base_user.html' %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% if user.is_authenticated %}
        {{ user.username }}'s Profile
        {% else %}
        Thank You!
        {% endif %}
        {% endblock %}
            </title>
</head>
<body>
{% block middle_text %}
{% if user.is_authenticated %}
<p style="margin-top: 100px">Logout failed.  Please press <a href="logout.html">Logout</a> again to ensure a secure logout</p>
{% else %}
<p style="margin-top: 100px">Thank you for using Lunch Ladle.  Please check in again soon.</p>
{% endif %}
{% endblock %}
</body>


</html>