<!DOCTYPE html>
        {% extends 'scoop/base_user.html' %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% if user.is_authenticated %}
        {{ user.username }}'s Profile
        {% else %}
        OOPS! Please Login
        {% endif %}
        {% endblock %}
            </title>
</head>
<body>
{% block sidebar %}
{% if user.is_authenticated %}
<h3>{{ dependant.first_name }}'s Profile</h3>
<p>first name: {{ dependant.first_name }}</p>
<p>last name: {{ dependant.last_name }}</p>
<p>date of birth: {{ dependant.dob }}</p>
<p>grade: {{ dependant.grade }}</p>
<p>school: {{ dependant.school }}</p>
<p>state: {{ dependant.state }}</p>
<p>student ID: {{ dependant.studentID }}</p>
<p>lunch ladle ID: {{ dependant.llID }}</p>
<p>account_balance: {{ dependant.account_balance }}</p>
<p>notification_amount: {{ dependant.notification_amount }}</p>
<p>banned ingredients: {{ dependant.banned }}</p>
{% endif %}
{% endblock %}
{% block lower_text %}
<a href="../logout.html">Logout</a>
{% endblock %}

</body>


</html>