<!DOCTYPE html>
        {% extends 'scoop/base_home.html' %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>
            {% block title %}
                About Lunch Ladle
            {% endblock %}
        </title>
    </head>
    <body>
        {% block header %}
            <h3>Our Mission:</h3>
        {% endblock %}

        {% block upper_text %}
            <p>Lunch Ladle is dedicated to helping parents maintain meaningful influence over their children's diets
                <br>
               by providing a framework for monitoring and choosing what is available for purchase.</p>
        {% endblock %}
    </body>
</html>