<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>lunch ladle</title>
        <link rel="stylesheet" type="text/css" href="../../static/ll_home/styles.css">
    </head>
    <body>
        <div class="topnav">
                <a href="/ll_home">Home</a>
                <a href="/scoop/templates/scoop/how_it_works.html">How it Works</a>
                <a href="/lunch_ladle/testimonials/">Testimonials</a>
                <a href="/lunch_ladle/blog/">Blog</a>
                <a href="/lunch_ladle/contact/">Contact Us</a>
                <a href="reg_log.html">Register / LogIn</a>
        </div>
    </body>
</html>